/******************
 Danae Sabinas
 Index style sheet
******************/

body {
	background-color: IndianRed;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

nav {
	color: white;
	font-weight: bold;
	text-align: center;
}

nav a {
	color: lightSalmon;
	padding: 10px;
	text-decoration: none;
}

nav a:hover {
	color: Maroon;
}

h1, p {
	text-align: center;
}

